@use "styles/variables" as vars;
.staff-page-wrapper {
  .card-view {
    padding: vars.$card-padding-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .filters-wrapper,
  .actions-wrapper {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .filters-wrapper {
    gap: 18px;
  }
  .actions-wrapper {
    gap: 10px;
  }
}
